body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    color: #4C1F7A;
}

nav {
    background-color: #219B9D;
    padding: 10px;
    display: flex;
    gap: 20px;
}

nav a {
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header {
    text-align: center;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    color: #FF8000;
    font-size: 48px;
}

main {
    margin: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 28%; 
    height: auto; 
}

section {
    margin-bottom: 40px;
    text-align: center; 
}

p {
    line-height: 1.6;
    font-size: 18px;
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
}


iframe {
    display: block;
    margin: 20px auto;
}

.song {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
}
@media (max-width: 768px) {
    img {
        max-width: 80%; 
    }
}
